/* RocketComponent scss*/
:host {
  display: flex;
  flex-flow: column;
  width: 100%;
  .header {
    display: flex;
    i {
      align-self: center;
      padding: 10px;
    }
  }
  .body {
    .summary {
      .rows {
        padding: 10px;
        .label-value-container {
          flex: 1 1 50%;
        }
        .toolbar {
          display: flex;
          justify-content: flex-end;
          button {
            height: 30px;
            width: 60px;
            box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            background-color: #1976d2;
            color: #fff;
            border: 0;
            text-align: center;
            cursor: pointer;
            &:nth-child(2n) {
              margin-left: 10px;
            }
          }
        }
      }
    }
    .content {
      border: solid 1px #ddeeee;
      border-collapse: collapse;
      border-spacing: 0;
      font: normal 13px Arial, sans-serif;
      .items-header {
        display: flex;
        .hcell {
          background-color: #ddefef;
          border: solid 1px #ddeeee;
          color: #336b6b;
          padding: 10px;
          text-align: center;
          text-shadow: 1px 1px 1px #fff;
          flex: 1 1 25%;
        }
      }
      .item-row {
        display: flex;
        .rcell {
          border: solid 1px #ddeeee;
          color: #333;
          padding: 10px;
          text-shadow: 1px 1px 1px #fff;
          flex: 1 1 25%;
          text-align: center;
          .active {
            color: green;
          }

          .inactive {
            color: red;
          }
        }
      }
    }
  }
}
